<?xml version="1.0"?>
<config>
	<modules>
		<Wizkunde_ConfigurableBundle>
			<version>1.0</version>
		</Wizkunde_ConfigurableBundle>
	</modules>
	<global>
		<models>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Model</class>
        	</configurablebundle>
        	<bundle_mysql4>
        		<rewrite>
        			<option_collection>Wizkunde_ConfigurableBundle_Model_Bundle_Mysql4_Option_Collection</option_collection>
        		</rewrite>
        	</bundle_mysql4>
        	<cataloginventory>
        		<rewrite>
        			<stock_status>Wizkunde_ConfigurableBundle_Model_CatalogInventory_Stock_Status</stock_status>
        		</rewrite>
        	</cataloginventory>
        	<catalog>
        		<rewrite>
        			<layer>Wizkunde_ConfigurableBundle_Model_Catalog_Layer</layer>
        		</rewrite>
        	</catalog>
        	<catalogsearch>
        		<rewrite>
        			<layer>Wizkunde_ConfigurableBundle_Model_CatalogSearch_Layer</layer>
        		</rewrite>
        	</catalogsearch>
        	<bundle>
        		<rewrite>
        			<product_type>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Type</product_type>
        		</rewrite>
        	</bundle>
		</models>
        <blocks>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Block</class>
        	</configurablebundle>
                <catalog>
                    <rewrite>
                        <product_view_options>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Options</product_view_options>
                    </rewrite>
                </catalog>
        	<bundle>
        		<rewrite>
        			<catalog_product_view_type_bundle>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
        			<catalog_product_view_type_bundle_option_radio>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_select>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>

                    <adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Search_Grid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>
        		</rewrite>
        	</bundle>
        </blocks>
		<catalog>
			<product>
				<type>
					<bundle>
						<allowed_selection_types>
							<configurable />
						</allowed_selection_types>
					</bundle>
				</type>
			</product>
		</catalog>
	</global>
    <frontend>
        <routers>
            <configurablebundle>
                <use>standard</use>
                <args>
                    <module>Wizkunde_ConfigurableBundle</module>
                    <frontName>wizbundle</frontName>
                </args>
            </configurablebundle>
        </routers>
        <layout>
             <updates>
                  <configurablebundle>
                        <file>configurablebundle.xml</file>
                  </configurablebundle>
             </updates>
        </layout>
    </frontend>
</config>
